<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{dd MMM yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="rollingFile"
			fileName="21CCallCenter.log"
			filePattern="21CCallCenter.%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.capgemini.farmers" level="info"
			additivity="false">
			<AppenderRef ref="LogToConsole" />
			<AppenderRef ref="rollingFile" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="LogToConsole" />
			<AppenderRef ref="rollingFile" />
		</Root>
	</Loggers>
</Configuration>